.wrapper {
    background-color: #a8e600;
    padding: 5px 10px 8px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
}

.avatarContainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    display: flex;
    align-items: center;
    align-self: end;

}

.avatar {
    width: 100%;
    object-fit: cover;
}

.content {
    background-color: #002107;
    min-width: 250px;
    max-width: 350px;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
}

.corner {
    width: 15px;
    height: 15px;
    margin: auto 0 0 0;
    background: radial-gradient(circle at top 0 left 0, transparent 16px, #002107 0);
}

.name {
    color: #877299;
}

.messageText {
    color: #607a5e;
    word-wrap: break-word;
}

.time {
    color: #204321;
    display: flex;
    justify-content: flex-end;
}



